<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="oracle0" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.68.6.24)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = oracle)));User ID=test;Password=test;"  providerName="Oracle.ManagedDataAccess.Client"  />
    <add name="sqlite" connectionString="Data Source=DB\Library.db;Password=123456;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite"/>
    <add name="oracle" connectionString="user id=test;password=test;data source=127.0.0.1/orcl;"  providerName="Oracle.ManagedDataAccess.Client"  />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.102.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver	Oracle Data Provider for .NET" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>
